<br><br>
<% presenter = BoardPresenter.new(current_user) %>
<%= button_to "logout", destroy_user_session_path, method: :delete  %>
<h1>Boards</h1>
<ul>
  <% @boards.each do |board| %>
   <li>
      <%= link_to board.name, board %>
    </li>
  <% end %>
</ul>
<% if presenter.edit_role? %>
<%= link_to "New Board", new_board_path %>
<% end %>
<% if presenter.edit_role? %>
<h1>Users</h1>
<ul>
  <% @users.each do |user| %>
   <li>
      <%= link_to user.email, user %>
    </li>
  <% end %>
</ul>

<%= link_to "New User", new_user_path %>

<% end %>



<br><br><br>

<% if params.has_key?(:include_columns) and params.has_key?(:include_tasks)  %>
    <% @boards.each do |board| %>
      <% if params[:include_columns] == "true" and params[:include_tasks] == "true" %>
        <%= board.to_json(include: [:columns, :tasks]) %> <br><br>
      <% elsif params[:include_columns] == "true" and params[:include_tasks] == "false" %>
        <%= board.to_json(include: [:columns]) %> <br><br>
      <% elsif params[:include_columns] == "false" and params[:include_tasks] == "true" %>
        <%= board.to_json(include: [:tasks]) %> <br><br>
      <% else %>
        <%= board.to_json %> <br><br>
      <% end %>
    <% end %>
<% end %>
